.header {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    font-family: 'Oswald', sans-serif;
    text-align:center;
    margin-bottom: 10px;
    background: url('../images/header.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1 {
    font-size: 50px;
}
h1:hover, #navbar>li:hover {
    cursor: pointer;
}
#navbar>li:hover, a:hover {
    opacity: .5;
}
#navbar {
    list-style-type: none;
    width: 225px;
    height: 40px;
    margin: auto;
    font-weight: bold;
}
#navbar li {
    float: left;
    padding-right: 5px;
}
a {
    text-decoration: none;
    margin-right: 20px;
    display: block;
}
.body {
    clear: both;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arvo', serif;
}

.major, a {
    color: #669999;
}

.semester-head, .work-head, .work-position {
    font-weight: bold;
}
