.header {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-left: auto;
    padding-right: auto;
    font-family: 'Oswald', sans-serif;
}
/*.fixed {
    position: fixed;
}*/
.navbar {

}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li {
    float: left;
}
a {
    text-decoration: none;
    margin-right: 20px;
    display: block;
    color: black;
}
a:hover {
/*	color: maroon;*/
    background-color: lightgray;
}
.body {
    clear: both;
}
